@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: "Roboto", sans-serif;
  background-image: url('./assets/bgg.png');
}

body {
  padding-bottom: 50px;
}

.pink {
  background-color: #EAD9DD;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}

.navBtn {
  @apply  text-black text-3xl py-2 px-4 m-2 border-4 rounded-md border-black
}

.playCard {
  @apply flex flex-col h-1/2 w-4/5 bg-white rounded-lg drop-shadow-2xl border-8 pinkBorder m-auto p-4 mt-auto
}

.accountCard {
  @apply flex flex-col h-1/2 w-1/3 bg-white rounded-lg drop-shadow-2xl  border-8 pinkBorder m-auto 
}

.accountCardTitle {
  @apply text-2xl md:text-4xl mb-4 text-center
}

.accountCardSubTitle {
  @apply text-slate-500 text-xl mb-4 text-center 
}

.innerAccountCard {
  @apply h-1/2 w-3/5 m-auto
}

.accountBtn {
  @apply bg-black text-white text-2xl rounded-md p-4 
}

.accountBtn:hover {
  background-color: #EAD9DD;
  color: black
}

.cardTitle {
  @apply self-center m-2 text-4xl underline;
}

.cardBtn {
  @apply p-2 mt-4 text-3xl border-2 border-black rounded-lg hover:bg-pink-300;
}

.cardText {
  @apply text-3xl self-center my-10
}

.formInput {
  @apply border-slate-400 border-4 rounded-md p-2 outline-none text-xl bg-white
}

.formLabel {
  @apply text-xl my-2
}

.formError {
  @apply mt-1 text-lg text-red-500;
}

.toast {
  @apply text-2xl font-bold;
}

.active {
  @apply underline
}

.pinkBorder {
  border-color: #EAD9DD;
}

.pinkHover:hover {
  background-color: #EAD9DD;
  color: black
}

.backHover:hover {
  color:  #EAD9DD;
}

.accountBtn:disabled {
  @apply bg-gray-400 text-white cursor-not-allowed
}

.complementary {
  background-color: #d9eae6;
}

.card {
  @apply p-10 pink rounded-md
}

.list {
@apply md:flex md:items-center z-[-1] md:z-auto md:static absolute w-full left-0 md:w-auto md:py-0 py-2 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500
}
