@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  background-image: url("./assets/bgg.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  font-family: "Poppins", sans-serif;
}

body {
  padding-bottom: 50px;
}

.whitebg {
  background-color: rgb(000, 000, 000, 0.8);
}

.landingBox {
  border-radius: 0px 50px 0px 50px;
  border: 2px solid #000000;
}

.shadow {
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.3);
}

.pink {
  background-color: #ead9dd;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}

.navBtn {
  @apply text-black text-3xl py-2 px-4 m-2 border-4 rounded-md border-black;
}

.playCard {
  @apply m-auto flex flex-col  bg-white rounded-xl border-8 pinkBorder mt-20;
}

.accountCard {
  @apply flex flex-col h-1/2 w-1/3 bg-white rounded-lg drop-shadow-2xl  border-8 pinkBorder m-auto p-4;
}

.accountCardTitle {
  @apply text-2xl md:text-4xl text-center;
}

.accountCardSubTitle {
  @apply text-slate-500 text-xl mb-4 text-center;
}

.accountBtn {
  @apply bg-black text-white rounded-md p-4;
}

.accountBtn:hover {
  background-color: #ead9dd;
  color: black;
}

.cardTitle {
  @apply self-center m-2 text-4xl underline;
}

.cardBtn {
  @apply p-2 mt-4 text-3xl border-2 border-black rounded-lg hover:bg-pink-300;
}

.formInput {
  @apply border-slate-400 border-4 rounded-md p-2 outline-none text-lg  md:text-xl bg-white;
}

.formLabel {
  @apply text-lg md:text-xl my-2;
}

.formError {
  @apply mt-1 text-lg text-red-500;
}

.toast {
  @apply text-2xl font-bold;
}

.pinkBorder {
  border-color: #ead9dd;
}

.pinkHover:hover {
  background-color: #ead9dd;
  color: black;
}

.backHover:hover {
  color: #ead9dd;
}

.accountBtn:disabled {
  @apply bg-gray-400 text-white cursor-not-allowed;
}

.complementary {
  background-color: #d9eae6;
}

.card {
  @apply p-4 pink rounded-md;
}

.list {
  @apply md:flex md:items-center z-[-1] md:z-auto md:static absolute w-full left-0 md:w-auto md:py-0 py-2 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500;
}
